*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    background-image: url('/img/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.content{
    margin: 100px auto;
    width: 40%;
}

.content h1{
    margin: 18px 0;
    text-transform: uppercase;
    font-size: 50px;
}

.content h3{
    margin: 70px 0 0;
}

.content img{
    width: 20%;
}

.content .box{
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    border: none
}

.content .aceito{
 float:inline-start;
}

.content label{
    font-size: 12px;
    margin-left: 2px;
}

.content button{
    width: 100%;
    background-color: rgb(23, 135, 187);
    color: white;
    font-size: 18px;
    
    padding: 10px 50px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}